* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  margin: 0;
}

.main {
  background: #9789F9;
  height: 1000px;
  display: flex;
}

.pricing__blocks {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 65px;
  align-items: center;
}

.pricing__block {
  background: #F5F3F9;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 0px 20px #8677EF);
}
.pricing__block-header {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "BebasNeue";
}
.pricing__block-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  z-index: 2;
}
.pricing__block h2 {
  margin-top: 20px;
}
.pricing__block-main {
  display: flex;
  flex-direction: column;
  padding: 0 110px 60px 110px;
  margin: 40px 0 57px 0;
  background: #FFFFFF;
  width: 100%;
  border-radius: 50% 50% 10% 10%/20% 20% 0% 0%;
}
.pricing__block-main-icon {
  align-self: center;
  padding-bottom: 40px;
  padding-top: 40px;
  z-index: 2;
}

.button {
  background: #6FCFFB;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding: 20px 50px;
  z-index: 2;
  text-decoration: none;
  margin-bottom: -26px;
  position: absolute;
  bottom: 0;
  font-family: "BebasNeue-Regular";
}

.container {
  max-width: 1200px;
  margin: auto;
}

.price {
  display: flex;
}
.price h3 {
  font-size: 24px;
  line-height: 28px;
  color: #181818;
}
.price h1 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0.08em;
  color: #000000;
}
.price h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.08em;
  color: #000000;
}

.title-block-center {
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #A9A9A9;
  position: absolute;
  bottom: 30px;
}

.badges {
  z-index: 5;
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
}

.badge {
  background: #FD8D7B;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge:first-child {
  width: 48px;
  height: 48px;
}
.badge:nth-child(2) {
  width: 14px;
  height: 14px;
}
.badge:nth-child(3) {
  width: 4px;
  height: 4px;
}

.popular {
  position: absolute;
  top: 25px;
  right: -76px;
  border-radius: 51% 12% 12% 51%/48% 25% 25% 50%;
  width: 101px;
  height: 30px;
  background: #3B4040;
  z-index: 125;
  font-family: "BebasNeue-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Thin.ttf") format("truetype");
  font-style: light;
  font-weight: light;
}
@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}/*# sourceMappingURL=style.css.map */